/* Write your CSS here */
.list-tab-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.tab-btn {
  font-family: 'Roboto';
  color: #7b8794;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  padding-bottom: 2px solid #dfe2e5;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .tab-btn {
    font-size: 24px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 10px;
  }
}

.active {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .active {
    padding-bottom: 16px;
  }
}
