/* Write your CSS here */
.apps-list-container {
  max-width: 130px;
  width: 48%;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  border-radius: 12px;
  padding-top: 14px;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .apps-list-container {
    max-width: 200px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 18px;
  }
}

.image {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 100px;
    height: 100px;
  }
}

.name {
  font-size: 18px;
  font-family: 'Bree Serif';
  color: #1e293b;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 26px;
  }
}
